body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}

.section{
    max-width: 1440px;
    margin: 0 auto;
}

.heroSection{
    padding-top: 50px;
    background: rgba(229, 84, 115, 0.10);
}
.heroContent{
    display: flex;
    flex-direction: row;
}
.heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 97px;
}
.heroText h1{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    line-height: normal;
    margin: 0;
}
.heroText p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 100px;
}
.heroText button {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    width: fit-content;
    border: none;
    outline: none;
    cursor: pointer;
}
.heroText button:hover{
    background: black;
}
img{
    margin-bottom: -4px;
}
/* end hero section css */
.feature{
    padding-top: 178px;
    padding-bottom: 128px;
}
.featureHead h1{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}
.featureHead p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 48px;
}
.featureFlower {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 24px;
}
.featureItem{
    flex-grow: 1;
}
.featureImg{
    text-align: center;
}
.featureImg img{
    width: 310px;
}
.featureImg.item1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.featureImg.item1 img {
    padding-top: 50px;
}
.featureImg.item2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.featureImg.item2 img{
    margin-bottom: 51px;
    padding-top: 117px;
}
.featureImg.item3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.featureItem h2{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 32px;
}
/* end feature section css */
.supportSec{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding-top: 86px;
    padding-bottom: 87px;
    margin-bottom: 128px;
}
.supportItems{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.supportItems h2{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 24px;
}

/* CTA CSS */
.ctaScetion{
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 0px 100px 0px;
}
.ctaContent {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.ctaText{
    text-align: center;
}
.ctaText h1{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}
.ctaText p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.ctaText button {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    width: fit-content;
    border: none;
    outline: none;
    cursor: pointer;
}
.ctaText button:hover{
    background: black;
}
/* Love Flower */
.loveFlower{
    padding-top: 128px;
}
.loveFlowerImg img{
    margin-right: 80px;
}
.loveFlowerContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.loveFlowerContent h1{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}
.loveFlowerContent p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
/* Instagram CSS */
.instagramSec{
    padding: 128px 0px 128px 0px;
}
.instagramHead h1{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}
.instagramHead p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 48px;
}
.instagramItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* Subscribe CSS */
.bg{
    background-image: url(/assets/img/Rectangle\ 9.png);
    padding: 122px 0px 121px 0px;
    margin-bottom: 128px;
}
.subscribeHead {
    text-align: center;
}
.subscribeHead h1{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}
.subscribeHead p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 16px;
    margin-bottom: 48px;
}
.subscribeFrom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.subscribeFrom input{
    width: 700px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    border: none;
    outline: 0;
    padding: 22px;
}
.subscribeFrom button {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    width: fit-content;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 16px;
}
.subscribeFrom button:hover{
    background: black;
}

/* Footer CSS */
.footer{
    background-color: black;
    padding: 128px 0px 128px 0px;
    text-align: center;
}
.footerContent h1{
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    line-height: normal;
}
.footerContent h1 span{
    color: #FFF;
}
.footerContent .footerText{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 0px 32px 0px;
}
.footerContent .copy{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.footerContent .copy a{
    color: rgba(255, 255, 255, 0.40);
    text-decoration: none;
}